/* main bg: #101633 */
/* main content: #1c1f46 */
/* nav: #2a529d */
/* nav header: #0b1029 */
/* filters: #303b7a */
/* Roboto, sans-serif */

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto', sans-serif;
    background-color: #1c1f46;
}

.app
{
    min-height: 100vh;
    height: 100%;
    background: #101633;
    width: 100%;
 
}

.header
{
    width: 100%;
}

.flexx
{
    display: flex;
    flex-direction: column!important;
    width: 100%;

   
}

.logo
{
    width: 8.12rem;
}

.icons
{
    width: 1.5rem;
    border-radius: 50%;
}

.toolbar-genshin
{
    background: #2a529d;
   
   
}


.first-nav
{
    display: flex;
    background: #0b1029;
    align-items: center;
    width: 100%;
    
}

.margin-bt
{
    margin-bottom: 1.875rem;

}

.hamburger-box
{
    width: max-content;
    display: flex;
}

.burger-nav
{
    
    background: #dbddef;
    width: 25px;
    height: 3px;
    border-radius: 4px;
    position: relative;
    z-index: 2;

}



.hamburger-nav input[type=checkbox]
{
    /* appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    opacity: 0;  */
    position: absolute; 
    top: 0; /* Add this line to position the input element */
    left: 0; /* Add this line to position the input element */
     /* Add this line to cover the entire parent container */
    cursor: pointer; /* Add this line to change cursor to pointer on hover */
    z-index: 1;
}

.burger-nav::after, .burger-nav::before
{
    content: '';
    color: #dbddef;
    background: #dbddef;
    width: 25px;
    height: 3px;
    border-radius: 4px;
    display: block;
    position: absolute;
    z-index: 2;

   
}

.burger-nav::after
{
    top: 6px;
}

.burger-nav::before
{
    bottom: 7px;
}

.hamburger-nav
{
/*   
  display: none; */
  justify-self: flex-end;
  /* cursor: pointer; */
  
}

.link-flex
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: #dbddef;
    font-weight: bold;
    font-size: 14px;
    padding: 0.5rem 1rem;
}

.new
{
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .1em;
    background-color: #009688;
    padding: 2px 4px 0;
    border-radius: 4px;
    font-size: 11px;
    line-height: 1.5;
    z-index: 5;
   
    
}



.second-nav
{
    background: #2a529d;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Lists--nav */

.navigation
{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    align-items: center;
    height: 50px;
    list-style: none;
    

}

.navigation a:link, a:visited
{
    text-decoration: none;    
    color: #dbddef;
    padding: 16px 20px;
    transition: 0.4s;

}


.navigation a:hover, a.active
{
    background: #3567C5;
    font-size: 16px;
    
}

.database
{
    position: relative;
    z-index: 1;

}



.dropdown-menu
{
    
    position: absolute;
    display: none;
    min-width: 12.5rem;
    max-height: none;
    z-index: 9999;
    top: 34px;

}

.dropdown-menu a:link 
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.dropdown-menu a:hover
{
    background: #1c1f46;
}

.database:hover .dropdown-menu {
    display: block;
}

.section-header
{
    width: 1000px;
    align-self: center;
    color: #dbddef;
    
    
}

.section-container
{
    background: #1c1f46;
    width: 100%;
    padding: 30px;
    border-radius: 4px;
    

}

.content
{
    width: 100%;
}

.title-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.content-filter
{
    min-width: 300px;
    display: flex;
    align-items: center;
    background: #303b7a;
    border-radius: 4px;
}

.content-filter input
{
    height: 100%;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    font-size: 1rem;

    
}

.content-filter input:focus 
{
    outline: none;
    color: #dbddef;
}


.content-filter input::placeholder
{
    color: #dbddef8d;

}

.search, .exit
{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dbddef8d;
}

.exit
{
    cursor: pointer;
}

.divider
{
    width: 1px;
    height: 30px;
    border: 1px solid #4d5fc4;
    margin: 0 20px;

    
}

.filter-container
{
    background: #303b7a;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
}

.filter-list
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.filter-list a:hover
{
    background: #4d5fc4;
    border-radius: 4px;
     
}

.filter-icon
{
    max-width: 50px;
    max-height: 40px;
    padding: 5px;
}

.character-container
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #24285a;
    padding: 20px;
    border-radius: 4px;
    width: 100%;
    
    
}



.character-icon
{
    width: 70px;
    height: 70px;
    border-radius: 4px;
    transition: transform 0.6s;

    
}

.rare4-bg
{
    background-image: url("4_sm.png");
    background-position: 50%;
}

.rare5-bg
{
    background-image: url("5_sm.png");
    background-position: 50%;
}


.profile
{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    position: relative;
    transition: transform 0.6s;
    width: 12.5%;
    /* transform-duration: 0.3s, 0.3s; */
    /* align-self: stretch;  */
    margin-bottom: 30px;
}



.profile:hover .character-element, .profile:hover .character-icon
{
    transform: scale(1.1);
}

.profile p 
{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 2px;
    text-align: center;
}

.character-element
{
    position: absolute;
    width: 24px;
    height: 24px;
    top: -10px;
    right: 15px;
    background: #303b7a;
    border-radius: 50%;
    transition: transform 0.6s;
    padding: 2px;

}

footer
{
    background: #1c1f46;
    color: #bec1dd;
    font-size: 16px;
    width: 1000px;
    /* margin-top: auto; */
    padding: 40px;
    margin: 0 auto;

    line-height: 2.5;

}

.footer-container
{
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 30px;
    grid-template-columns: 430px 1fr 1fr;

}





footer ul
{
    display: flex;
    flex-direction: column;
    list-style: none;
}

footer a:link, a:visited
{
    text-decoration: none;
}

footer a:hover, a:active
{
    color: #fff;
}

/* MEDIA QUERIES */

@media (max-width: 1020px) {

 .first-nav
 {
    border: 1px solid #24285a;
    height: 50px;
    width: 100%;

 }

 .second-nav
 {
    display: none;
 }

 .hamburger-nav
 {
    display: flex;
    margin-left: auto;
    padding-right: 20px;
    
 }



 .link-flex
 {
    height: 50px;
 }

 .section-header
 {
    width: 720px;
 }


 .title-container
 {
    display: block;
 }

 h1
 {
    margin-bottom: 30px;
 }

.profile
{
    width: 16.66%;
}



    }
    
    
    @media (max-width: 741px) {
        .toolbar-honkai
        {
            display: none;
        }

        .first-nav
        {
            background: #2a529d;
            height: 50px;
            border: none;
            
        }

        .section-header
 {
    width: 540px;
 }

 .profile
{
    width: 25%;
}

.divider
{
    width: 100%;
    border: none;
    height: 1px;
    border-top: 1px solid #4d5fc4;
    margin: 10px 20px;


}

.section-container h1
{
  font-size: 21px;
}



    }